

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body {
    
}
    #selectionMenu {
        
    }
    #color-select {
        width: 50px;
        height: 20px;
        background-color: black;
        padding: 10px;
    };









