/* This file allows you to override default styles in one central location for easier upgrade and maintenance. */
/* ---------- Base styles ---------- */
#altibox-logo {
	width: 147px;
	height: 49px;
	background: transparent
		url(/web-altibox_fox-theme/images/common/altibox_logo_trans.png)
		no-repeat top left;
	float: left;
}


/* ---------- Main content body ---------- */
#wrapper {
	padding-top: 0em;
}

#partner-wrapper {
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	overflow-x: hidden;
	overflow-y: hidden;
	background-color: white;
	background-image: none;
	background-repeat: repeat-y;
	background-attachment: scroll;
	background-position: 0px 0px;
}

.ie6 #partner-wrapper {
	background-image: none;
	background-color: #DCE2E6;
}
#loginBox {
	position: absolute;
	background: #ededed;
	border-radius: 8px;
       -moz-border-radius: 8px;
       -webkit-border-radius: 8px;
       padding: 5px;
       padding-right: 10px;
	z-index: 2;
	display: none;
	width:500px;
}

#partner-wrapper-bottom {
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	overflow-x: hidden;
	overflow-y: hidden;
	background-color: transparent;
	background-image: none;
	background-repeat: no-repeat;
	background-attachment: scroll;
	padding-bottom: 10px;
	background-position: bottom center;
}

.ie6 #partner-wrapper-bottom {
	background-image: none;
	background-color: #DCE2E6;
}

#content-wrapper-top { /*navigation level2*/
	background: white;
	clear: both;
}

.ie6 #content-wrapper-top {
	background: #DCE2E6
		url(/web-altibox_fox-theme/images/common/content_wrapper_top_with_menu_mirror.png)
		no-repeat top left;
}

#altibox-content-wrapper {
	background-color: #ffffff;
	padding: 16px 0px 0px 0px;
	margin-left: auto;
	margin-right: auto;
	min-height:485px;
	overflow:hidden;
}

#content-wrapper {
	margin-left: auto;
	margin-right: auto;
	width: 958px;
	padding-bottom: 20px;
	/*background-color: #ffffff;*/
}

#content-wrapper-bottom {
	background: #3F3E3E;
	clear: both;
	height: 34px;
	margin-left: auto;
	margin-right: auto;
}

.ie6 #content-wrapper-bottom {
	background: #DCE2E6
		url(/web-altibox_fox-theme/images/common/ie6isnotgood_content_wrapper_bottom.png)
		no-repeat bottom left;
}

/* ---------- Banner ---------- */
#banner {
	float: left;
	background-color: #ffffff;
	margin-left:20px;
}

#banner h1.logo {
	display: block;
	float: left;
	font-size: 2em;
	padding: 0;
}

#banner .logo a {
	float: left;
	text-decoration: none;
}

.ie6 #banner .logo { /*zoom: 1;*/

}

.current-community {
	background: url(/web-altibox_fox-theme/images/dock/my_places_public.png) no-repeat 15px 50%;
	border-left: 1px solid #D3DADD;
	color: #D3DADD;
	display: block;
	float: left;
	font-size: 0.8em;
	font-weight: bold;
	margin: 0 0 0 20px;
	padding: 20px;
	padding-left: 40px;
}

.guest-community .current-community {
	display: none;
}

.private-page .current-community {
	background-image: url(/web-altibox_fox-theme/images/dock/my_places_private.png);
}

/* ---------- Main navigation ---------- */
#navigation {
	background: #CA2B16;
	/*border-top: 1px solid #304049;*/
	margin: 0px auto;
	min-height: 39px;
	height: 39px;
	padding: 0px 0px 0px 0px;
}

#navigation_wrapper {
	height:39px;
	margin-left: auto;
	margin-right: auto;
	overflow:hidden;
	background: transparent
		url(/web-altibox_fox-theme/images/navigation2013/bgMenu.png) no-repeat top
		left;
}

#navigation div.nav-left-end {
	overflow: hidden;
	background: transparent url(/web-altibox_fox-theme/images/navigation2013/bgMenu.png) no-repeat top left;
	position: absolute;
	float: left;
	height: 38px;
	width: 118px;
	clear: left;
}

#navigation div.nav-left-end-logo {
	background: transparent url(/web-altibox_fox-theme/images/navigation2013/logo.png) no-repeat  25px 5px;
}

.ie6 #navigation div.nav-left-end {
}

#navigation div.nav-left-end a {
	display: block;
	height: 38px;
    margin-left: 23px;
    width: 90px
}

#navigation div.nav-right-end {
	float: right;
	height: 35px;
	width: 17px;
}

.ie6 #navigation div.nav-right-end {
}

#navigation ul {
	min-height: 2em;
	float: right;
	height: 39px;
	max-width: 675px;
	overflow: hidden;
}

#navigation li {
	display: inline;
	height: 38px;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	line-height: 38px;
}

.ie6 #navigation li {
	width: 1px;
	text-align: left;
	white-space: nowrap;
}

#navigation a {
	color: #ffffff;
	font-size: 15px;
}

#navigation li a {
	display: block;
	text-decoration: none;
	height: 39px;
	padding: 0px 11px;
	width: auto;
	line-height: 39px;
}

html.ie #navigation li a{
	padding: 0px 10px;
}

.ie #navigation li a {
	padding: 7px 13px 7px 13px;
}

#navigation li a span {
	text-decoration: none;
}

#navigation li.selected a {
	background:#960e22;
	color: #fff;
}

.ie6 #navigation li.selected a {
	background: transparent
		url(/web-altibox_fox-theme/images/navigation/ie6isnotgood_nav_middle_on.png) repeat-x top left;
}

#navigation li a:hover {
	background: -moz-radial-gradient(center, ellipse cover,  rgba(197,13,44,0.42) 0%, rgba(133,11,31,0.99) 99%, rgba(133,11,31,1) 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(197,13,44,0.42)), color-stop(99%,rgba(133,11,31,0.99)), color-stop(100%,rgba(133,11,31,1)));
	background: -webkit-radial-gradient(center, ellipse cover,  rgba(197,13,44,0.42) 0%,rgba(133,11,31,0.99) 99%,rgba(133,11,31,1) 100%);
	background: -o-radial-gradient(center, ellipse cover,  rgba(197,13,44,0.42) 0%,rgba(133,11,31,0.99) 99%,rgba(133,11,31,1) 100%);
	background: -ms-radial-gradient(center, ellipse cover,  rgba(197,13,44,0.42) 0%,rgba(133,11,31,0.99) 99%,rgba(133,11,31,1) 100%);
	background: radial-gradient(ellipse at center,  rgba(197,13,44,0.42) 0%,rgba(133,11,31,0.99) 99%,rgba(133,11,31,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6bc50d2c', endColorstr='#850b1f',GradientType=1 );
	color:#fff;
}

.ie6 #navigation li a:hover {
	background: transparent
		url(/web-altibox_fox-theme/images/navigation/ie6isnotgood_nav_middle_on.png) repeat-x top
		left;
}

#navigation li:hover,#navigation li.seperator,#navigation li.selected .seperator{
	background: url(/web-altibox_fox-theme/images/navigation2013/seperator1x39.png) no-repeat top right;
}
#navigation .last-item.seperator{
	background:transparent;
}

/* ---------- Add/remove page ---------- */
.js #navigation .enter-page {
	background-color: #1E2529;
	padding: 2px;
}

.js #navigation .enter-page a {
	background: none;
	display: inline;
	font-weight: bold;
	padding: 0;
}

.js #navigation .enter-page .save-page {
	background: url(/web-altibox_fox-theme/images/dock/my_place_current.png) no-repeat 0 50%;
	margin: 0 10px;
	padding-left: 20px;
}

/*.ie.js #navigation .enter-page .save-page {
	display: inline-block;
	padding-bottom: 5px;
	padding-top: 5px;
	vertical-align: top;
}

.js #navigation .enter-page .cancel-page {
	display: none;
}

.ie.js #navigation .enter-page {
	padding: 0;
}

.ie.js #navigation .enter-page input.text {
	margin: 2px;
	padding: 3px 1px;
}*/
.js #navigation {

}

.js #add-page {
	border-bottom: none;
	top: 1px;
	left: 1px;
	font-weight: bold;
	position: absolute;
}

.js #add-page a {
	display: block;
	color: #000000;
	text-decoration: none;
}

.js #add-page a span {
	background: url(/web-altibox_fox-theme/images/common/add.png) no-repeat 0 50%;
	display: block;
	margin-left: 15px;
	padding: 5px 20px 2px;
}

.js #add-page a:hover span {

}

/*------ Navigation portlet ------*/
.nav-menu-style-1 {

}

.nav-menu-style-2 {

}

/* ---------- Portlet wrapper and icons ---------- */
.portlet { /*background: #fff;*/ /*border: 1px dotted #DCE2E6;*/
	/*margin: 5px 0px 0px 5px;*/ /*padding: 2px;*/ /*margin-left: auto;
	margin-right: auto;*/

}

.portlet-topper { /*background: #D3DADD;*/
	/*border-bottom: 1px solid #AEB8BC;*/
	padding-right: 40px;
}

.portlet-title {
	padding: 5px;
}

.ie .portlet-title {
	padding-bottom: 5px;
}

body.lfr-has-sidebar {
	padding-left: 0;
}

.lfr-has-sidebar #content-wrapper {
	padding-left: 270px;
	width: auto;
}

#user-bar {
	padding: 8px 15px 10px;
	float: left;
}

#segment_navigation .segbtn,.greenbutton {
	float: left;
	/*clear: both;*/
	background: url(/web-altibox_fox-theme/images/application/btn_right.png) no-repeat right top
		;
	padding: 0px 9px 0px 0px;
}

#segment_navigation .segbtn a,.greenbutton a {
	float: left;
	height: 21px;
	background: url(/web-altibox_fox-theme/images/application/btn_left_long.png) no-repeat left
		top;
	line-height: 21px;
	padding: 0px 0px 0px 9px;
	color: #fff;
	font-size: 1.1em;
	letter-spacing: -1px;
	text-decoration: none;
}

#segment_navigation .segbtn a:hover,.greenbutton a:hover {
	text-decoration: underline;
}

#segment_navigation .segbtn.selected,.greenbutton.selected {
	background: url(/web-altibox_fox-theme/images/application/btn_on_right.png) no-repeat right
		top;
}

#segment_navigation .segbtn.selected a,.greenbutton.selected a {
	background: url(/web-altibox_fox-theme/images/application/btn_on_left_long.png) no-repeat
		left top;
}

#content-navigation {
	outline: 1px dotted #ff0;
}

#content-wrapper #template_content .journal-content h1 {
	margin-left: 0px;
}

#content-wrapper #template_content h1.bg,
#content-wrapper h1.page-name,
#main-content h1.page-name	  {
	margin-left: 30px;
	padding-top: 20px;
	margin-bottom: 20px;
	margin-right: 30px;
}

#content-wrapper.bg>div.content {
	clear: both;
	padding: 15px 29px 15px 29px;
	min-width: 1px;
}

/*.ie #content-wrapper.bg > div.content {
	min-width: 1px;
}*/

.portlet .tab-background {
	padding-top: 20px;
}

.ie6 #content-wrapper.bg,.ie7 #content-wrapper.bg {
	background-position: 0px -12px;
}

#search_window span.sbox_l {
	background: transparent
		url(/web-altibox_fox-theme/images/application/searchfield_leftcap.png) no-repeat top left;
	float: left;
	width: 19px;
	height: 19px;
}

#search_window span.sbox_r {
	background: transparent
		url(/web-altibox_fox-theme/images/application/searchfield_rightcap.png) no-repeat top left;
	float: left;
	width: 19px;
	height: 19px;
}

#search_window span.sbox.google input {
	-webkit-transition: 1s width;
	transition: 1s width;
	background-image: url(/web-altibox_fox-theme/images/application/searchfield_middle.png);
	background-color: transparent;
	background-repeat: repeat;
	float: left;
	border: 0;
	background-position: 0px 19px;
	height: 19px;
	width: 70px;
	padding: 0px 0px 0px 0px;
	margin-bottom: 3px;
	font: 11px/ 13px arial;
	color: #000;
}

#search_window span.sbox input {
	background-image: url(/web-altibox_fox-theme/images/application/searchfield_middle.png);
	background-color: transparent;
	background-repeat: repeat;
	float: left;
	border: 0;
	background-position: 0px 0px;
	height: 19px;
	width: 70px;
	padding: 0px 0px 0px 0px;
	margin-bottom: 3px;
	font: 11px/ 13px arial;
	color: #000;
}

#search_window span .searchbutton {
	border: none;
	background: transparent
		url(/web-altibox_fox-theme/images/application/searchfield_leftcap.png) no-repeat top left;
	width: 19px;
	height: 19px;
	margin: 0px 0px 0px 0px;
	filter: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	vertical-align: top;
}

.error {
	font-style: italic;
}

#login-overlay {
	position: absolute;
	left: 0px;
	top: 0px;
	height: 100%;
	width: 100%;
	background-color: #000000;
	opacity: 0.50;
	z-index: 2;
	display: none;
}

.ie #login-overlay {
	filter: alpha(opacity =   40);
	height: 1000px;
}

#login-info {
	font-size: 1.2em;
	top: 20%;
	left: 45%;
	position: absolute;
	display: none;
	width: 170px;
	height: 50px;
	padding: 20px 15px 10px 15px;
	z-index: 3;
	text-align: center;
	background:
		url(/web-altibox_fox-theme/images/application/login_dialog.png)
		no-repeat top left;
}

.attribute {
	font-weight: bold;
	padding-right: 5px;
}

.value {

}

.news_infobox {
	min-height: 60px;
	margin: 0px 0px 10px 0px;
}

.news_icon {
	float: left;
	padding: 0px 10px 10px 0px;
	clear: left;
}

.news_info {
	margin-bottom:10px;
	padding: 0px 0px 0px 0px;
	float: left;
	clear: right;
}

.news_info h3 {
	color: #657b90;
	padding: 0px;
	margin: 0px;
	letter-spacing: 0px;
	line-height:20px;
}

.sIFR-flash { /*padding: 0px 2px 0px 2px;*/
	width: 100%;
}

/* FORMS */
.inputAirSeperator,.inputAirSeperator {
	height: 30px;
	padding-left: 5px;
}

.inputAirSeperator.twoColumns,.inputAirSeperator.twoColumns {
	padding-left: 0px;
	text-align: right;
}

#p_p_id_Forgotpassword_WAR_portletslogin10SNAPSHOT_ .inputLogin,#p_p_id_AltiboxLogin_WAR_portletslogin10SNAPSHOT_ .inputLogin
	{
	width: 175px;
	font-size: 12px;
}

#p_p_id_AltiboxLogin_WAR_portletslogin10SNAPSHOT_ a.small,#p_p_id_AltiboxLogin_WAR_portletslogin10SNAPSHOT_ span a.small
	{
	color: #cccccc;
}

.notice-marker {
	background: url(/web-altibox_fox-theme/images/custom/notice-marker.png)
		no-repeat top left;
	width: 13px;
	height: 12px;
	display: inline-block;
}

.required-marker {
	background:
		url(/web-altibox_fox-theme/images/custom/required-marker.png)
		no-repeat top left;
	width: 13px;
	height: 12px;
	display: inline-block;
}

.label {
	font-weight: bold;
}

.info-channel {
	background-color: #283246;
	color: #ffffff;
}

.ie .info-channel {
	background-color: #283246;
	display: none;
	color: #ffffff;
}

#altiboxContactInfo {
	float: left;
}

#altiboxThirdParty {
	float: right;
	height: 23px;
}

#altiboxThirdParty span {
	float: left;
}

/* Used for result from a user-action */
div.portlet .result {
	color: green;
}

/* Altibox Tooltip */
.ab-tooltip {
	display: none;
	position: absolute;
	z-index: 2;
	cursor: pointer;
	width: 181px;
	color: white;
}

.ab-tooltip h3 {
	padding: 0px;
	margin: 0px;
	text-decoration: underline;
}

.ab-tooltip div.content {
	padding: 0px 20px 0px 20px;
	background: url('/web-altibox_fox-theme/images/tooltip/line-medium.png') repeat-y;
}

.ab-tooltip div.top {
	display: block;
	background: url('/web-altibox_fox-theme/images/tooltip/top-medium.png') no-repeat;
	height: 15px;
	width: 181px;
}

.ab-tooltip div.bottom {
	height: 39px;
	width: 181px;
	background: url('/web-altibox_fox-theme/images/tooltip/bottom-medium.png') no-repeat;
}

/* Large tooltip */
.ab-tooltip.large {
	width: 239px;
}

.ab-tooltip.large div.content {
	padding: 10px;
	background: url('/web-altibox_fox-theme/images/tooltip/line-large.png') repeat-y;
}

.ab-tooltip.large div.top {
	display: block;
	background: url('/web-altibox_fox-theme/images/tooltip/top-large.png') no-repeat;
	height: 17px;
	width: 239px;
}

.ab-tooltip.large div.bottom {
	height: 53px;
	width: 239px;
	background: url('/web-altibox_fox-theme/images/tooltip/bottom-large.png') no-repeat;
}

/* Small tooltip */
.ab-tooltip.small {
	width: 123px;
}

.ab-tooltip.small div.content {
	padding: 10px;
	background: url('/web-altibox_fox-theme/images/tooltip/line-small.png') repeat-y;
}

.ab-tooltip.small div.top {
	display: block;
	background: url('/web-altibox_fox-theme/images/tooltip/top-small.png') no-repeat;
	height: 10px;
	width: 123px;
}

.ab-tooltip.small div.bottom {
	height: 30px;
	width: 123px;
	background: url('/web-altibox_fox-theme/images/tooltip/bottom-small.png') no-repeat;
}

/********************** END TOOLTIP *******************/
	/********************** PROGRESS BAR ******************/
div.progressbar {
	clear: both;
	width: 98%;
	padding-left: 1%;
	padding-right: 1%;
}

div.progressbar a {
	color: #666666;
	text-decoration: none;
}

div.progressbar a:hover {
	color: #888888;
}

div.progressbar span {
	/* padding-top + padding-bottom + height should be 41 (height of the images)*/
	padding-top: 12px;
	padding-bottom: 12px;
	font-weight: bold;
	height: 17px;
	float: left;
}

div.progressbar.pages-3 span.legend {
	width: 26%;
	padding-left: 15px;
	font-size: 13px;
}

div.progressbar.pages-4 span.legend {
	width: 19%;
	padding-left: 5px;
	font-size: 10px;
}

div.progressbar.pages-4 span.active-start.legend,div.progressbar.pages-4 span.inactive-start.legend
	{
	padding-left: 11px;
}

div.progressbar span.legend span.greennumber {
	background-image: url('/web-altibox_fox-theme/images/progressbar/green_circle.png');
	height: 17px;
	width: 17px;
	padding-top: 0;
	padding-bottom: 0;
	text-align: center;
	margin-right: 8px;
	color: #FFFFFF;
}

div.progressbar span.legend span.greynumber {
	background-image: url('/web-altibox_fox-theme/images/progressbar/grey_circle.png');
	height: 17px;
	width: 17px;
	padding-top: 0;
	padding-bottom: 0;
	text-align: center;
	margin-right: 8px;
	color: #FFFFFF;
}

div.progressbar span.legend {
	background-repeat: no-repeat;
	background-color: #eceded;
}

div.progressbar span.active-start {
	background-image: url('/web-altibox_fox-theme/images/progressbar/active-start.png');
	color: #FFFFFF;
}

div.progressbar span.inactive-start {
	background-image: url('/web-altibox_fox-theme/images/progressbar/inactive-start.png');
	color: #666666;
}

div.progressbar span.active-inactive {
	width: 28px;
	background-image: url('/web-altibox_fox-theme/images/progressbar/active-inactive.png');
}

div.progressbar span.inactive-active {
	width: 28px;
	background-image: url('/web-altibox_fox-theme/images/progressbar/inactive-active.png');
}

div.progressbar span.inactive-inactive {
	width: 28px;
	background-image: url('/web-altibox_fox-theme/images/progressbar/inactive-inactive.png');
}

div.progressbar span.active {
	background-image: url('/web-altibox_fox-theme/images/progressbar/active.png');
	color: #FFFFFF;
}

div.progressbar span.inactive {
	background-image: url('/web-altibox_fox-theme/images/progressbar/inactive.png');
	color: #666666;
}

div.progressbar span.inactive-end {
	background-image: url('/web-altibox_fox-theme/images/progressbar/inactive-end.png');
	width: 28px;
	color: #666666;
	background-position: right;
}

div.progressbar span.active-end {
	background-image: url('/web-altibox_fox-theme/images/progressbar/active-end.png');
	width: 28px;
	color: #FFFFFF;
	background-position: right;
}

/********************** END PROGRESS BAR **************/
#mypages-users {
	font-size:30px;
	float:left;
	margin-right:6px;
}

#mypages-users-welcome {
	width: auto;
	padding-left: 15px;
	line-height: 17px;
	min-width:200px;
}

#mypages-users-welcome h1 {
	font-size: 14px;
	margin-bottom: 0px;
	margin-top:0px;
	line-height: 20px;
}
#mypages-users-welcome a{
	font-size: 12px;
	text-decoration: underline;
}

/* Stuff for structured tables and other nifty things on altibox.no */
.rowHeadings,.columnHeadings {
	padding: 5px 5px 5px 5px;
}

.rowHeadings th,.columnHeadings th {
	background-color: #eeeeee;
	font-weight: bold;
	text-align: left;
	padding: 5px 5px 5px 5px;
}

.rowHeadings th.empty,.columnHeadings th.empty {
	background-color: transparent;
}

.rowValues td,.columnValues td {
	padding: 0px 0px 0px 5px;
}

.helpContent,.infoContent {

}

.helpIcon,.infoIcon {
	width: 16px;
	height: 16px;
	background: transparent url('/web-altibox_fox-theme/images/common/conversation.png') top
		left no-repeat;
	float: left;
	padding-right: 10px;
}

/* <a:infobox> */
.portlet div.info-box {
	width: 339px;
	float: left;
	background: url('/web-altibox_fox-theme/images/info-box/line.png') repeat-y top left;
}

.portlet .info-box>div.top {
	background: url('/web-altibox_fox-theme/images/info-box/top.png') no-repeat top left;
	width: 309px;
	height: 30px;
	padding: 15px 15px 0px 15px;
	font-weight: bold;
}

.portlet .info-box .content {
	padding: 0px 15px 0px 15px;
}

.portlet .info-box>div.bottom {
	background: url('/web-altibox_fox-theme/images/info-box/bottom.png') no-repeat top left;
	width: 339px;
	height: 14px;
}

/* End </a:infobox> */


/* *********************** Level 4 menu tabs ********************* */
.tabs-navigation {
	clear: both;
	display: block;
	min-height: 100px;
}

.tabs-navigation.tabs-white {
	clear: both;
	display: block;
	min-height: 100px;
}

.tabs-navigation.tabs-671 {
	clear: both;
	display: block;
	min-height: 100px;
	width: 678px;
}

.tabs-navigation.tabs-671-white {
	clear: both;
	display: block;
	min-height: 100px;
	width: 678px;
}

.tabs-navigation .tabs {
	margin: 0px;
	padding: 0px 0px 0px 25px;
	width: 908px;
}

.tabs-navigation div.tabs div.tab {
	float: left;
	min-width: 33px;
	margin-top: 4px;
}

.tabs-navigation div.tabs div.tab.selected {
	margin-top: 0px;
}

.tabs-navigation div.tabs div.tab a {
}

.tabs-navigation div.tabs div.tab.selected a {
	font-weight: 500;
	color: #000;
}

.tabs-navigation .tabs .tab a.content {
	float: left;
	display:block;
	min-height: 1px;
	min-width: 1px;
	padding: 6px 0px 5px 13px;
	color: #888;
	text-decoration: none;
	cursor: pointer;
}

.tabs-navigation .tabs .tab.selected a.content {
	/*padding-top: 5px;*/
	padding: 8px 0px 5px 11px;
}

.tabs-navigation .tabs .tab .start {
	float: left;
	background: url('/web-altibox_fox-theme/images/custom/tabs/tab_not_selected.png') no-repeat left top;
	min-width: 16px;
	height: 21px;
	margin-left: 10px;
}

.tabs-navigation .tabs .tab.selected .start {
	float: left;
	background: url('/web-altibox_fox-theme/images/custom/tabs/tab_selected.png') no-repeat left top;
	min-width: 16px;
	height: 27px;
	margin-left: 10px;
}
.tabs-navigation.tabs-671-white .tabs .tab.selected .start {
	background: url('/web-altibox_fox-theme/images/tabs/navigation-tabs-background-selected-white.png') no-repeat left top;
}

.tabs-navigation .tabs .tab .end {
	float: left;
	background: url('/web-altibox_fox-theme/images/custom/tabs/tab_not_selected.png') no-repeat top right;
	/* Padd on the right to add space between the tabs. */
	width: 16px;
	height: 21px;
}

.tabs-navigation .tabs .tab.selected .end {
	float: left;
	background: url('/web-altibox_fox-theme/images/custom/tabs/tab_selected.png') no-repeat top right;
	/* Padd on the right to add space between the tabs. */
	width: 16px;
	height: 27px;
}

.tabs-navigation.tabs-671-white .tabs .tab.selected .end {
	background: url('/web-altibox_fox-theme/images/tabs/navigation-tabs-background-selected-white.png') no-repeat top right;
}

/* Background of the page. */
.tabs-navigation .padded-content {
	display: block;
	clear: both;
}


.padded-content {
	display: block;
	clear: both;
}

/* *********************** Frontpage tab portlet  ********************* */

.tabs-navigation.frontpage {
	background-image:
		url(/web-altibox_fox-theme/images/custom/tabs/whole_page_tab_frontpage.png);
	background-position: left 15px;
	width: 304px;
	height: 265px;
	padding-top: 4px;
	padding-right: 0px;
	margin-right: 0px;
}
.tabs-navigation.frontpage .tabs {
	width: 279px;
}


/* *********************** Level 4 menu tabs ********************* */

/* ************************* Ajax loader ************************* */

.altiboxLoadWithLoader {
	background: url("/web-altibox_fox-theme/images/custom/loadWithLoader.gif") no-repeat scroll center center transparent;
}

.altiboxLoadWithLoaderSmall {
	background: url("/web-altibox_fox-theme/images/custom/loadWithLoader50x50.gif") no-repeat scroll center center transparent;
}

/* *********************** Altibox Message *********************** */

.altiboxMessage {
        display: none;
        width: 100%;
        height: 40px;
        line-height: 40px;
        background-color: #313E50;
        /*border-top: 1px solid #aaaaaa;*/
        border-bottom: 1px solid #aaaaaa;
        position: absolute;
        left: 0px;
        top: 0px;
        z-index: 1000;
        text-align: center;
        font-size: 180%;
        opacity: 0.94;
        background: -moz-linear-gradient(top,  #68717C,  #313E50);
        background: -webkit-gradient(linear, left top, left bottom, from(#68717C), to(#313E50));
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#68717C', endColorstr='#313E50');
        -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .4);
		-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, .4);
		text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
		color: #eeeeee;
		font-weight: bold;
}
.altiboxMessage.errorMessage {
		background: -moz-linear-gradient(top,  #F46D65,  #D8150B);
        background: -webkit-gradient(linear, left top, left bottom, from(#F46D65), to(#D8150B));
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F46D65', endColorstr='#D8150B');
}

/* *********************** login ************************* */

.loginWaitMessage {
    float: left;
    margin-left: 47px;
    margin-top: 10px;
}

/* *********************** toolbar *********************** */
.toolbars{
	clear:both;
	float:left;
	margin-bottom:10px;
}
.toolbars .toolbaritem{
	float:left;
	margin-right: 20px;
	cursor:pointer;
}
.toolbars .toolbaritem a{
	text-decoration:none;
}
.toolbars img{
	vertical-align:bottom;
}
.toolbars #maillink img{

}

/* *********************** toggle buttons **************** */

.bootstrap-switch-wrapper{
	margin-bottom: 15px;
}
label .bootstrap-switch-wrapper{
	margin-top: 5px;
}
label.inline{
	margin-right: 10px;
	margin-left: 20px;
}

.bootstrap-switch .bootstrap-switch-handle-on,
.bootstrap-switch .bootstrap-switch-handle-off{
	box-shadow: inset 1px 1px 3px 0px rgba(0,0,0,0.2);
}